@charset "UTF-8";

/* Personalizar */
// Defaults _______________________________________________________________________
body {
  overflow-y: scroll;
  * a:focus {
    //outline: 0;
    text-decoration: underline;
  }
}

.skip {
  left: -10000px;
  padding: 6px;
  position: absolute;
  background-color: $primary-color;
  transition: left 1s ease-out 0s, background 1s linear 0s;
  z-index: 100;
}

a.skip:focus {
  left: 0;
  transition: left 0.1s ease-in 0s, background 0.5s linear 0s;
  color: #FFFFFF;
}

.banners {
  margin: 0;
  padding: 0;
  ul {
    text-align: center;
    margin: 0;
  }
  img {
    border: 1px solid white;
    margin: 15px 0;
    box-shadow: 0px 0px 3px 2px rgba(50, 50, 50, 0.2);
  }
}

// Font icons
.fa {
  vertical-align: middle;
}

// Header _______________________________________________________________________
header {
  @extend .row;
  background-color: #f8f7ed;
  a.dropdown.idiomas {
    @extend .button;
    right: $column-gutter + 1;
    top: $column-gutter / 3;
    z-index: 100;
    font-size: .85rem;
    background-color: transparent;
    position: absolute;
    &:before {
      right: 2.2rem;
    }
    &:hover, &:active, &:visited, &:link {
      background-color: transparent;
    }
  }
  .columns {
    margin-top: $column-gutter / 2;
    margin-bottom: $column-gutter / 2;
    img {
      float: left;
      margin-right: $column-gutter / 3;
      max-width: 400px;
    }
  }
  h1 {
    color: $primary-color;
    float: left;
    span {
      font-size: 80%;
      line-height: 3.5rem;
      small {
        display: block;
        color: #376850;
        margin-left: 2px;
        margin-top: 4px;
        font-size: 55%;
      }
    }
  }
}

// Navigation _______________________________________________________________________
#menu {
  padding-left: 0;
  padding-right: 0;
  strong {
    font-size: 110%;
  }
  i.fa {
    font-size: 1.4rem;
  }
}

.top-bar-section {
  ul:hover .has-dropdown > a:after {
    border-color: rgba(0, 0, 0, 0.4) transparent transparent;
  }
  ul li.has-form .button {
    background-color: $primary-dark-color;
  }
  ul li li:not(.has-form) a:not(.button) {
    border-bottom: 1px solid $primary-light-color;
    border-left: 1px solid $primary-light-color;
    font-size: .9rem;
    &:hover {
      color: $primary-color;
    }
  }
  .dropdown li.title p a {
    color: $color-grey-20;
    font-weight: bold;
    line-height: 22.5px;
    display: block;
  }
}

// Aside _______________________________________________________________________
aside .accordion {
  dd > a, dd.active > a {
    border-radius: 4px;
    margin-bottom: 2px;
  }
  ul {
    list-style-type: none;
  }
  .fa {
    font-size: 1.8rem;
    padding-right: .5rem;
    color: $primary-dark-color;
    opacity: 0.7;
  }
}

// Article _______________________________________________________________________

// Slider home
ul.slider {
  margin-left: 0;
  figure {
    margin: 0;
    position: relative;
  }
  figcaption {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

// Footer _______________________________________________________________________
body > footer {
  background-color: #efefef;
  @extend .row;
}

// sticky footer
.wrap {
  min-height: 100%;
  margin-bottom: -100px;
  &:after {
    content: '';
    display: block;
  }
}

body > footer, .wrap:after {
  height: 100px;
}