@charset "UTF-8";

// PEQUEÑOS
@media #{$small-only} {
  // Header
  header div {
    text-align: center;
    img {
      width: 100%;
    }
  }
  //Menú
  .top-bar-section {
    ul li:not(.has-form) > a:not(.button) {
      color: $color-grey-20;
      font-weight: normal;
      &:hover {
        color: $primary-color;
      }
    }
    .divider, & [role="separator"] {
      border-top-color: $primary-light-color;
    }
    ul .has-dropdown > a:after,
    ul:hover .has-dropdown > a:after {
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);
    }
    .dropdown li.title h5 a {
      font-weight: bold;
    }
  }
  // Slider
  .slider {
    display: none;
  }
}

@media #{$small-up} {}

// MEDIANOS

@media #{$medium-only} {}

@media #{$medium-up} {
  header div img {
    max-width: 370px;
  }
}

// GRANDES

@media #{$large-only} {}

@media #{$large-up} {
  header div img {
    max-width: 400px;
  }
}

// MÁS GRANDES

@media #{$xlarge-only} {}

@media #{$xlarge-up} {}

// EXTRA GRANDES

@media #{$xxlarge-only} {}

@media #{$xxlarge-up} {}